a {
    text-align: center;
    text-decoration: none !important;
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}


#header {
    padding-top: 70px;
    padding-bottom: 30px;
}


nav .navbar-nav li.nav-item a.nav-item.nav-link, nav .navbar-nav li.nav-item a.nav-item.nav-link:visited{
    color: white;
    transition: color .2s ease-out;
    background-color: transparent;
    text-decoration: none;
}
    nav .navbar-nav li.nav-item a.nav-item.nav-link:hover, nav .navbar-nav li.nav-item a.nav-item.nav-link.nav-style.active {
        color: #8E5AE0;
    }
    nav .navbar-nav li.nav-item a.nav-item.nav-link.nav-style.active {
        color: #8E5AE0;
        border-bottom: 2px solid #8E5AE0;
    }

.navbar-brand {
    color: WHITE;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px !important;
    height: 70px !important;
    line-height: 30px !important;
    text-align: center;
    transition: color .2s ease-out
}

   

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    border: 1px solid #444;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 80%;
}

#main {
    overflow: auto;
    max-width: 1170px;
    margin: auto;
    padding-bottom: 70px; /* this needs to be bigger than footer height*/
}

.footer {
    text-align: center;
    position: relative;
    margin-top: -70px; /* negative value of footer height */
    height: 70px;
    clear: both;
    padding-top: 20px;
}

.foot-titles, .foot-titles:visited, p a, p a:visited {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .foot-titles:hover, p a:hover {
        color: #8E5AE0;
        text-decoration: none;
    }

.modal-body p {
    color: black;
}

p {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    color:white;
    font-size:20px;
}

hr {
    border-top: 1px solid #8E5AE0 !important;
}

.btn-custom {
    background: #8E5AE0;
    border-color: #8E5AE0;
    color: white;
    font-size: 24px;
    border-radius: 2px;
    border-width: 1px;
}

    .btn-custom:hover {
        background: white;
        border-color: #8E5AE0;
        color: #8E5AE0;
    }


#logo {
    max-height: 115px;
    max-width: 95%;
}

/*ICONS*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background:#8E5AE0;
    margin: 15px 2px;
    color: white;
}

.modal-title{
    color:black;
}

